<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Digital Housing Platform</title></head>
<body>
<h1>Digital Housing Platform</h1>
<ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/landlords">Landlords</a></li>
    <li><a href="/tenants">Tenants</a></li>
    <li><a href="/properties">Properties</a></li>
    <li><a href="/joincodes">Join Codes</a></li>
    <li><a href="/hastenancies">Tenancies</a></li>
    <li><a href="/ratestenants">Tenant Ratings</a></li>
    <li><a href="/rateslandlords">Landlord Ratings</a></li>
    <li><a href="/announcements">Announcements</a></li>
    <li><a href="/complaints">Complaints</a></li>
    <li><a href="/bills">Bills</a></li>
    <li><a href="/billshares">Bill Shares</a></li>
</ul>
</body>
</html>